/* Pseudoselectores VARIABLES EN CSS para almacenar valores*/
:root {
  --blanco: #ffffff;
  --negroo: #000000;
  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;
}

/* las medidas que estan en html y body son un hack 
que selecciona todo el html y es mucho mas facil usar REM que es aconsejable
para adapatarse a distintas pantallas y navegadores */

/* Principio hack de mediadas */
hmtl {
  font-size: 62.5%;
}

body {
  font-size: 16px; /* 1rem = 10px */
  font-family: "Krub", sans-serif;
}
/* fin  hack de mediadas */
.titulo {
  text-align: center;
  font-size: 3.8rem;
  /* 400= normal 700= bold */
  font-weight: normal;
}

.titulo span {
  font-size: 2rem;
}
